@import '../../styles/ngtt-variables';

.ngtt__match-wrapper {
  display: flex;
  flex-direction: column;
  width: $ngtt-match-wrapper-width;
  height: $ngtt-match-wrapper-height;
  background-color: lighten($ngtt-background-primary, 15%);
  border-radius: 6px;
}

.ngtt__team-wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  padding: 12px 6px;
  align-items: center;
}

.ngtt__team-avatar {
  margin-left: 12px;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: darkgray;
  display: inline-block;
  flex-shrink: 1;
}

.ngtt__team-title {
  margin-left: 12px;
  color: antiquewhite;
  font-weight: lighter;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ngtt__team-score {
  padding: 0 20px 0 10px;
  flex-shrink: 1;
}
